.portfolio-section-photos h2 {
    margin-top: 80px;
    margin-bottom: 80px;

}

.conteneur1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 15px;
}

.conteneur2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
}

.conteneur1 img,
.conteneur2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lien-conteneur-photo {
    position: relative;
}

.photo-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    font-size: 1.5em;
    display: none;
}

.lien-conteneur-photo:hover .photo-hover {
    display: flex;
}

@media screen and (max-width: 996px) {
    .conteneur1 {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .conteneur2{
        grid-template-columns: 1fr;
        gap: 15px;
    }

}